# EditorConfig
# http://editorconfig.org/

root = true

[*]
end_of_line = lf
charset = utf-8

[*.{json,tern*,*rc}]
indent_style = space
indent_size = 2

[*.{js,jsx}]
indent_style = tab
tab_width = 2

[*.html]
indent_style = tab
tab_width = 4
